@import url("https://fonts.googleapis.com/css2?family=Marvel:ital,wght@0,400;0,700;1,400&family=Roboto:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
}

:root {
  --clr-dark: #202020;
  --clr-black: #000000;
  --clr-white: #ffffff;
  --clr-grey: #767676;
  --clr-red: #ed462f;
  --space-sm: 0.8rem;
  --space-md: 1.6rem;
  --space-lg: 2.4rem;
  --space-xl: 3.2rem;
}

/*---Common elements style---*/
body {
  font-family: "Roboto", "Marvel", sans-serif;
  font-size: 16px;
  line-height: 1.6;
}

a {
  color: var(--clr-black);
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding: 0 var(--space-md);
  max-width: 1200px;
}

img {
  width: 100%;
  height: auto;
}

/*---Navbar style---*/
header {
  text-align: center;
  padding-bottom: var(--space-sm);
  background-color: var(--clr-dark);
  color: var(--clr-white);
  text-transform: uppercase;
}

.header__logo {
  background-color: var(--clr-red);
  color: var(--clr-white);
  font-weight: bold;
  font-size: 2.5rem;
  cursor: pointer;
}

.header__nav {
  width: 275px;
  margin-left: auto;
  margin-right: auto;
}

.header__list {
  display: flex;
  justify-content: space-between;
  margin-top: var(--space-md);
  font-size: 0.8rem;
}

.header__item {
  cursor: pointer;
}

.header__item:hover {
  border-bottom: 3px solid var(--clr-red);
}

.header__search {
  display: flex;
  margin-top: var(--space-sm);
  margin-bottom: var(--space-sm);
}

.header__input,
.header__select-box,
.header__search__btn {
  border: 1px solid var(--clr-grey);
  padding: 0.3rem;
  height: 2rem;
  background-color: var(--clr-dark);
  color: var(--clr-white);
}

.header__select-box {
  border: 1px solid var(--clr-grey);
}
.header__search__btn {
  border: 1px solid var(--clr-grey);
}

#main {
  width: 100vw;
  min-height: calc(100vh - 227.8px);
}
/*---Home/Hero style---*/
.hero__statement {
  text-align: center;
  margin-bottom: var(--space-lg);
}

.hero__title {
  font-size: 1.5rem;
}

/*---Home style---*/
.home__title {
  text-align: center;
}

.marvels__list {
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(13rem, 1fr));
  gap: var(--space-sm);
  justify-items: center;
}

.marvels__container {
  padding: var(--space-lg) 0;
}

.marvels__title {
  text-align: center;
}
/*---Cards style---*/
.card {
  cursor: pointer;
  width: 13rem;
  height: 24rem;
}

.card__image {
  box-shadow: 0px 4px 8px 0px var(--clr-grey);
  height: 20rem;
}

.card:hover .card__title {
  color: var(--clr-red);
}

.card:hover .card__image {
  transition: 0.2s;
  transform: translateY(-0.3rem);
}

/*---Detail Page style---*/

.details {
  color: var(--clr-white);
  position: relative;
}

.detail__img--bg {
  position: absolute;
  background-color: var(--clr-dark);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -2;
}
.detail__img__cover {
  background-color: var(--clr-black);
  opacity: 0.8;
}
.details .container {
  display: grid;
  gap: var(--space-md);
  padding-top: var(--space-xl);
  padding-bottom: var(--space-xl);
}
.detail__img {
  width: 21rem;
  height: 33rem;
}

.detail__content h4 {
  margin-top: var(--space-sm);
}

/*---Footer style---*/
footer {
  text-align: center;
  background-color: var(--clr-dark);
  color: var(--clr-white);
  padding: var(--space-md) 0;
}

.footer_hearth {
  color: var(--clr-red);
}

.footer__socials {
  margin-top: var(--space-md);
}

.footer__socials a {
  font-size: 2rem;
  margin: 0 var(--space-sm);
  color: var(--clr-white);
}

.footer__socials a:hover {
  color: var(--clr-red);
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
  header {
    text-align: left;
    padding: var(--space-md) 0;
  }

  header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header__list {
    margin-top: 0.5rem;
    font-size: 0.9rem;
  }

  .header__item {
  }

  .header__nav {
    width: 275px;
    margin-left: auto;
    margin-right: 0;
  }

  .hero__title {
    font-size: 1.8rem;
  }

  .details .container {
    grid-template-columns: 1fr 2fr;
    align-items: center;
  }

  footer .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .footer__socials {
    margin-top: 0;
  }
}

@media (min-width: 1024px) {
  .hero {
    position: relative;
  }

  .hero__statement {
    position: absolute;
    top: 40%;
    right: var(--space-md);
    text-align: left;
    margin-bottom: 0;
  }

  .hero__title {
    font-size: 2.1rem;
  }
}
